body {
  width: 70%;
  margin: 0 auto;
}

h1 {
  font-size: 32px;
}

h1,
h2,
h3 {
  font-family: Arial, sans-serif;
  margin-top: 1.5em;
}

table,
th,
td {
  border: 1px solid #000000;
}

figure {
  float: right;
  clear: right;
}

.without_frame {
  margin-left: 2em;
}

.invis {
  margin-top: 0;
}
